{% extends "settings.html" %}
{% block title %}Certificate Download{% endblock %}
{% block setting %}
<h5>Description</h5>
<p class='small-txt'>
To avoid the browser warning shown when accessing Project Tracker, download the certificate below and follow the instructions for adding it to your browser. Once added, your browser will trust Project Tracker with handling a secure connection without having to make an exceptions.
</p>
<h5>Certificate Link</h5>
<a href="{{ url_for('settings.download_cert') }}">Download Trusted CA Certificate</a>
<h5>How to add the certificate in FireFox</h5>
<ul>
	<li> Open the options menu in the top-right corner of your browser window, open Settings. </li>
	<li> Select "Privacy & Security". </li>
	<li> Scroll down to "Certificates" and select "View Certificates". </li>
	<li> Click the "Authorities" tab and select "Import". Select and open the downloaded certificate. </li>
	<li> Click the "Servers" tab and remove the exception made for the site. (e.g. localhost if it's running on your computer) </li>
</ul>
<h5>How to add the certificate in Chromium-based browsers</h5>
<ul>
<li> Open the options menu in the top-right corner of your browser window, open Settings. </li>
<li> Select "Privacy & Security", then select "Security". </li>
<li> Scroll to the bottom and click "Manage certificates". </li>
<li> Select the "Trusted Root Certification Authorities" tab, then select "Import". </li>
<li> Select and open the downloaded certificate, be sure All filetypes are showing. </li>
<li> Restart the browser to have the new certificate applied to your connection. </li>
</ul>

<h5>Additional notes on secure access</h5>

<p class='small-txt'>By default, Project Tracker creates a valid secure connection when an end user connects to it via <b>https://localhost</b> or <b>https://projecttracker.io</b>. Localhost can be used on the same computer it's running on with no modifications; there are different ways to access it by "projectracker.io" or an IP address for the computer PT's running from listed below.</p>

<ul>
<li>If you have access to a DNS server (applies to everyone's access in your network):</li>
    <ul>
        <li> Have the DNS server point "projecttracker.io" at the IP Address it's running on.</li>
        <li> This makes it so every DNS request for projecttracker is directed towards the right place and the certificate's requirements are valid.</li>
    </ul>
<li> If you know the IP Address before building for the first time (applies to everyone's access by IP on your network from the server's side):</li>
    <ul>
	    <li> Uncomment the last line in caroot/conf/server.cnf and replace "<b>&ltIP Address Project Tracker's on&gt</b>" with the IP Address.</li>
        <li> This makes it so if anyone visits "https://[yourip]", the connection will be valid because the IP Address is listed as a valid name in the certificate.</li>
    </ul>
<li> If you don't have access to a DNS server and don't want to rebuild everything by retroactively doing the last step (applies to an end user's access by hostname from their own system):</li>
    <ul>
        <li> Modify the hosts file on your computer with a new line that says "[Project Tracker's IP Address]    projecttracker.io"</li>
        <li> This makes it so when you type "projecttracker.io" in the browser, it connects to project tracker's IP Address by the name set which is a valid name in the certificate. </li>
        <li> The hosts file on linux is located at: /etc/hosts</li>
        <li> The hosts file on windows is located at: C:\Windows\System32\drivers\etc\hosts (must open as admin to save changes)</li>
        <li> The hosts file on mac os is located at: /etc/hosts (must edit as root, <a href="https://kinsta.com/knowledgebase/edit-mac-hosts-file/#how-to-find-and-edit-your-mac-hosts-file-in-4-steps" target="_blank">see how to enable root on mac os</a></li>
    </ul>
</ul>
{% endblock %}
