{% extends "settings.html" %}
{% block title %}Change Password{% endblock %}
{% block setting %}
<div class='settings-form'>
	<form action="{{ url_for('settings.password') }}" method="post" id="password">
		<p>Enter your current password</p>
		<input type='password' name='old-password' placeholder='current password' required>
		<p>Enter your new password</p>
		<input type='password' name='new-password' placeholder='new password' required>
		<p>Enter your new password again</p>
		<input type='password' name='new-password-verify' placeholder='new password' required>
		<div class='msg'>
			{{ msg }}
		</div>
		<div class='save-discard'>
			<button type='button' onclick='window.location="{{url_for('settings.page')}}"'>Cancel</button>
			<button type='submit'>Save</button>
	</form>
{% endblock %}
