{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% if projects %}
<div class='filter-row'>
		<p class='small-txt'>Filter Projects: </p>
		<button type='button' onclick='entry_filter(active_projects)' title='Show projects that are In Progress, Pending or in Review.'>
			<i class="fa-solid fa-box-open"></i>Active</button>
		<button type='button' onclick='entry_filter(inactive_projects)' title='Show projects that are Not Started.'>
			<i class="fa-solid fa-box"></i>Inactive</button>
		<button type='button' onclick='entry_filter(completed_projects)' title='Show projects that are Complete.'>
			<i class="fa-solid fa-circle-check"></i>Complete</button>
		<button type='button' onclick='entry_filter(abandoned_projects)' title='Show projects that are Abandoned.'>
			<i class="fa-solid fa-square-xmark"></i>Abandoned</button>
		<button type='button' onclick='entry_filter(all_projects)' title='Show all projects.'>
			All</button>
</div>
{% for project in projects %}

<div class='entry-item'>
	<div class='button-row'>
		<div class='left top'>
			<a href='{{ url_for('view.project', projid=project['pid']) }}' class='child-button'>
				<h3>
					<i class='current-icon'></i>
					{{ project['pname'] }}
				</h3>
			</a>
		</div>
		<div class='right'>
			<a onclick='show_hide("pdiv-{{ project['pid'] }}")' class='child-button' title='Toggle visibility'>
				<i class="fa-solid fa-eye"></i></a>
			<a href='{{ url_for('edit.project', projid=project['pid']) }}' class='child-button' title='Edit'>
				<i class="fa-solid fa-pen-to-square"></i></a>
			<a onclick='confirm_delete("project", {{ project["pid"] }})' class='child-button' title='Delete'>
				<i class="fa-solid fa-square-minus"></i></a>
		</div>
	</div>
	<div class='description' id="pdiv-{{ project['pid'] }}" style='display:none;'>
		{{ project['pdescription'] | safe }}
	</div>
	<div class='button-row'>
		<div class='left'>
			<p class='small-txt'>Last modified: {{project['last_modified_time']}}<p>
		</div>
		<div class='right'>
			<p class='small-txt'>Status: </p>
                        <form id='status-{{project['pid']}}'
                              action="{{url_for('edit.status', level='project', id=project['pid']) }}"
                              method='post'
                              onchange='update_status("project",{{project["pid"]}}, "status-{{project['pid']}}")'>
                                <select name="status" onchange="update_status_icons()" class='current-status'>
                                        <option value="Not Started">Not Started</option>
                                        <option value='Pending'>Pending</option>
                                        <option value="In Progress">In Progress</option>
                                        <option value="Review">Review</option>
                                        <option value="Complete">Complete</option>
                                        <option value="Abandoned">Abandoned</option>
                                        <option value="none" selected disabled hidden>{{project['pstatus']}}</option>
                                </select>
                        </form>
			<p class='small-txt'>Created: {{project['create_time']}}</p>
		</div>
	</div>
</div>

{% endfor %}
{% else %}
<p>
    {{ no_projects }}
</p>
{% endif %}
	<script>
		window.onload = () => update_status_icons();
	</script>
{% endblock %}
