{% extends 'layout.html' %}

{% block title %}New Subtask{% endblock %}

{% block content %}
<div class='content large-form'>
	<h2>Start a new Subtask for: 
		<a href="{{ url_for('view.project', projid=current_project) }}">
			{{ project_title }}
		</a>
	</h2>
	<form action='{{ url_for('new.subtask') }}' method='post' autocomplete='off'>
			<input type='text' name='stname' placeholder='Enter the name of your subtask.' id='stname' required>
			<textarea onkeyup='convert_md("stdescription")' name='stdescription' id='stdescription' placeholder='Type a description'></textarea>
			<div class="msg">{{ msg }}</div>
			<div class='button-row'>
				<a class='child-button' href="{{ url_for('view.project', projid=current_project) }}">
					<button type="button" class='child-button'>Discard</button></a>
				<input type='submit' value='Save' class='child-button'>
			</div>
	<hr><p>Preview:</p>
	<div id='preview'></div>
	</form>
</div>

{% endblock %}
