{% extends "layout.html" %}
{% block title %} Profile {% endblock %}
{% block content %}

{# Project Tree #}
<div class='entry-item'>
	<div id='project-tree'>
		<h1 class='title' onclick='ptree_toggle("project-tree","project-tree-toggle");' title='Show an overview of all projects and subtasks'>
			Project Tree 
			<i id='project-tree-toggle' class='fa-solid fa-caret-down'></i>
		</h1>
		{% if projects %}
		<ul style='display: none'>
		{% for project in projects %}
			<li>
				<i id="proj-icon-{{project['pid']}}"></i>
				<a href='{{ url_for('view.project', projid=project['pid'])}}'>
					{{ project['pname'] }}
				</a>
			</li>
			<ul>
			{% if subtasks %}
			{% for subtask in subtasks %}
				{% if subtask['pid'] == project['pid'] %}
				<li>
					<i id="st-icon-{{subtask['stid']}}"></i>
					<a href="{{ url_for('view.subtask', stid=subtask['stid']) }}">
						{{ subtask['stname'] }}
					</a>
				</li>
				{% endif %}
			{% endfor %}
			{% else %}
			<li> No subtasks </li>
			{% endif %}
			</ul>
		{% endfor %}
		</ul>
		{% else %}
		<p>No projects created yet</p>
		{% endif %}
	</div>
</div>

{# Open Projects #}
<div class='entry-item'>
	<div id='open-projects'>
		<h1 class='title' onclick='ptree_toggle("open-projects","open-projects-toggle");' title='Show a list of your open projects'>
			Open Projects
			<i id='open-projects-toggle' class='fa-solid fa-caret-down'></i>
		</h1>
		{% if projects %}
		<ul style='display: none'>
		{% for project in projects %}
		{% if project['pstatus'] not in ['Closed','Blocked','Complete'] %}
			<li>
				<i id="open-proj-icon-{{project['pid']}}"></i>
				<a href='{{ url_for('view.project', projid=project['pid'])}}'>
					{{ project['pname'] }}
				</a>
			</li>
		{% endif %}
		{% endfor %}
		</ul>
		{% else %}
		<p>No projects created yet</p>
		{% endif %}
	</div>
</div>

{# Open Subtasks #}

<div class='entry-item'>
	<div id='open-subtasks'>
		<h1 class='title' onclick='ptree_toggle("open-subtasks","open-subtasks-toggle");' title='Show a list of your open subtasks'>
			Open Subtasks
			<i id='open-subtasks-toggle' class='fa-solid fa-caret-down'></i>
		</h1>
		{% if subtasks %}
		<ul style='display: none'>
		{% for subtask in subtasks %}
		{% if subtask['ststatus'] not in ['Closed','Blocked','Complete'] %}
			<li>
				<i id="open-st-icon-{{subtask['stid']}}"></i>
				<a href='{{ url_for('view.subtask', stid=subtask['stid'])}}'>
					{{ subtask['stname'] }}
				</a>
			</li>
		{% endif %}
		{% endfor %}
		</ul>
		{% else %}
		<p>No subtasks created yet</p>
		{% endif %}
	</div>
</div>

{# last N comments table #}
<div class='entry-item'>
	<div id='last-comments'>
		<h1 class='title' onclick='ptree_toggle("last-comments","last-comments-toggle");' title='See the last 10 comments posted'>
			Last 10 Comments
			<i id="last-comments-toggle" class='fa-solid fa-caret-down'></i>
		</h1>
		{% if comments %}
		<ul style='display: none'>
			{% for comment in comments %}
			<hr>
			<li>
				<p class='small-txt'>Commented at {{comment['last_modified_time']}} for: 
					<a href='{{ url_for("view.subtask", stid=comment['stid']) }}'>
						{{ comment['stname'] }}
					</a>
				</p>
				{{ comment['comment'] | safe}}
			</li>
			{% endfor %}
		</ul>
		{% else %}
		<p>No comments made yet</p>
		{% endif %}
	</div>
</div>

{# Stats Table #}

<div class='entry-item'>
	<div id='stats-table'>
		<h1 class='title' onclick='ptree_toggle("stats-table","stats-table-toggle");' title='Show a list of your open subtasks'>
			Projects and Subtasks Summary
			<i id='stats-table-toggle' class='fa-solid fa-caret-down'></i>
		</h1>
		{% if subtasks and projects %}
		<ul style='display: none'>
			<table>
				<tr>
					<th>Status</th>
					<th class='theader'>% of</th>
					<th class='theader'>Projects</th>
					<th class='theader'>% of</th>
					<th class='theader'>Subtasks</th>
				</tr>
				{% for stat in stats %}
				<tr>
					<th>{{stat['pstatus']}}</th>
					<td>{{ '{0:0.2f}'.format(stat['p_pct']) }}</td>
					<td>{{stat['p_count']}}</td>
					<td>{{ '{0:0.2f}'.format(stat['s_pct']) }}</td>
					<td>{{stat['s_count']}}</td>
				</tr>
				{% endfor %}
			</table>
		</ul>
		{% else %}
		<p>No projects and subtasks created yet</p>
		{% endif %}
	</div>
</div>

{# script for updating the icons #}
	<script src="{{ url_for('static', filename='utils.js') }}"></script>
	<script>
	{% if projects %}
		{% for project in projects %}
		try {
			update_element_icon('proj-icon-{{project['pid']}}', '{{project['pstatus']}}');
			update_element_icon('open-proj-icon-{{project['pid']}}', '{{project['pstatus']}}');
		} catch (e) {
			console.log(e);
		}
		{% endfor %}
	{% endif %}
	{% if subtasks %}
		{% for subtask in subtasks %}
		try {
			update_element_icon('st-icon-{{subtask['stid']}}', '{{subtask['ststatus']}}');
			update_element_icon('open-st-icon-{{subtask['stid']}}', '{{subtask['ststatus']}}');
		} catch (e) {
			console.log(e);
		}		
		{% endfor %}
	{% endif %}
	</script>
{% endblock %}
